

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

Body{
    Color: gray;
    font-size: 12px;
}
span{
    font-size: 28px;
    background-color: red;
}

div.vantagens {
    width: 150px;
    display: inline-block;
    margin-left: 100px;
    margin-right: 60px;
    margin-top: 50px;
    text-align: center;
}

div.b{
    margin-top: 10px;
    margin-left: -10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline;
}

div.a{
    object-position: center;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px; 
}

h3.emp{
    font-weight: bold;
    width: 200px;
    text-align: left;
}

p.vantagem_sub{
    width: 200px;
    text-align: left;
    margin-bottom: 40px;
}

div.fazersimulacaoF{
    text-align: center;
}

picture.fotos{
    margin-top: 10px;
    display: inline-table;
    align-items: center;
}

div.fazersimulacao {
    text-align: center;
}

div.home{
    margin-top: 100px;
    text-align: center;
}

div.sub{
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}

div.valores_emp{
    text-align: center;
}

div.valores_button{
    margin-top: 40px;
    font-size: 36px;
    display: inline-block;
    color: #ff7200;
    box-shadow: none;
}

div.botao{
    margin-top: 40px;
    display: inline-table;
    top: 20px;
    left: 50px;
    margin: 2px;
    padding: 0px;
    box-shadow: none;
}

button.valores1{
    font: bold 22px/24px arial, helvica, sans-serif;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    border-style: solid;
    background-color:#ff7200;
    border-bottom-color: #ffffff;
    width: 140px;
    height: 54px;
    border-radius: 10px;
}

button.simular_emprestimo{
    padding: 0px;
    font: bold 22px/24px arial, helvica, sans-serif;
    text-align: center;
    border-style: solid;
    color: #fff;
    background-color: #ff7200;
    border-bottom-color: #ffffff;
    width: 240px;
    height: 44px;
    border-radius: 10px;
    margin-bottom: 40px;
}
div.outro_valor{
    margin-top: 50px;
}

div.infos{
    margin-top: 120px;
    background-color: #f2f2f2;
    margin-bottom: -30px;
}

div.fazersimulacaoF{
    margin-top: 30px;
    margin-bottom: 30px;
}

div.aboutus{
    min-height: 2.5rem;
    display: flex;
    background-color: #ff7200;
}

div.us{
    background-color: #ff7200;
    margin-left: 40px;
    margin-right: 40px;
}

h1.itander{
    margin-top: 60px;
    font-weight: bold;
    color: #fff;
    font-size: 50px;
}

h2.slogan{
    font-weight: bold;
    color: #fff;
    font-size: 40px;
}

p.about{
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
}

p.about2{
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
}

div.about3{
    margin-top: 50px;
    margin-bottom: 50px;
}

button.singup{
    font: 14px arial;
    margin-top: 15px;
    background-color: #ff7200;
    border-radius: 5px;
    text-align: center;
    border-color: #ff7200;
    border-bottom-color: #ff7200;
    color: #fff;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
}